[submodule "planet-mov/utils/Catch2"]
	path = external/Catch2
	url = https://github.com/flingengine/Catch2.git


[submodule "planet-mov/utils/jsoncpp"]
	path = external/json
	url = https://github.com/open-source-parsers/jsoncpp.git
